* {
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-image: url('https://github.com/STARSPARKLES/online-forms/blob/main/m.jpg?raw=true');
    background-size: cover;
    /* height: 40%; */

}

.mainclass {
    color: white;
}

#headerid1 ol {
    list-style: none;
}

#headerid2 ol {
    list-style: none;

}

#headerid3 ol {
    list-style: none;

}

#headerid1 li {
    float: left;
    width: 25%;
}

#headerid1 li:hover {
    cursor: pointer;
    color: darkgray;
}

#headerid2 li:hover {
    cursor: pointer;
    color: darkgray;
}

#headerid3 li:hover {
    cursor: pointer;
    color: darkgray;
}

#headerid2 li {
    float: left;
    width: 10%;
}

#headerid3 li {
    float: right;
    width: 9%;
    border: 2px solid white;
    border-radius: 5%;
    padding: 3px 3px;
    margin:3px 3px;
}

#parent {
    clear: both;
    /* border: 2px solid white; */
    width: 32%;
    padding: 1%;
    margin: 100px;
    border-radius: 30px;
}

.child {
    color: white;
    width: 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 35px 60px;
    /* padding: 5px 60px; */
    /* float: bottom; */
}

.child input {
    /* width: 90%; */
    padding: 5px 60px;
    border-radius: 8px;
    margin: 4px;
}
.child #submit{
    padding:5px 115px;
    background-color: black;
    color: white;
}
.child #submit:hover{
    cursor: pointer;
    background-color: darkslateblue;
}
h3{
    float: left;
    width: 360px;
    /* border: 2px solid white; */
    
}